# .gitignore for Streamlit Portfolio
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
.env*
.DS_Store
.vscode/
.streamlit/
# Ignore large or sensitive files
*.pdf
*.png
*.jpg
*.jpeg
# Uncomment below if you want to ignore resume and profile photo from git
#Aarya_Mody_Resume.pdf
#profile_photo_optimized.jpg
